services:
    - type: web
      name: client
      env: static
      buildCommand: npm install && npm run build
      publishPath: ./dist
      headers:
          - path: /*
            name: Cache-Control
            value: no-cache
      routes:
          - type: rewrite
            source: /*
            destination: /index.html
